.masthead {
	background-color: lighten($bgcolor, 15);
	//padding: 20px;
	position: relative;
	box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
}

@media(min-width: $screen-sm) {
	.headline-group {
		font-size: 2em;
		padding: 75px 20px;
		margin-left: 330px;
		line-height: 2.2em;

		h1 {
			margin: 0;
		}

		h2 {
			margin: 0;
			font-size: 1em;
			line-height: 1.2em;
		}
	}

	.logo {
		position: absolute;
		top: 50%;
		margin-top: -100px;
	}
}