$container-large-desktop: 970px !default;

@import "../bower_components/normalize-scss/normalize";
@import "../bower_components/griddler/lib/griddler";

$bgcolor: #83B55B;

p {
	line-height: 1.4em;
}

pre {
	font-size: 0.9em;
	padding: 15px;
	background-color: #333;
	color: #fff;
	overflow: scroll;
}

@import "nav";
@import "masthead";
