$container-large-desktop: 970px !default;

@import "../bower_components/normalize-scss/normalize";
@import "../bower_components/griddler/lib/griddler";

$bgcolor: #83B55B;

p {
	line-height: 1.4em;
}

pre {
	font-size: 0.9em;
	padding: 15px;
	background-color: #333;
	color: #fff;
	overflow: scroll;
}

dt {
	font-weight: bold;
}

.demo-content {
	background-color: lighten($bgcolor, 10);
	height: 50px;
	padding: 10px;
	margin-bottom: 20px;
}

@import "nav";
@import "masthead";
